body, html {
  height: 100%;
  background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6, p, body {
  line-height: 1.77;
  font-size: 18px;
  color: #4a4a4a;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.contents{
  height: 2000px;
}

h1{
  display: inline-block;
}

header{
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #fff;
  border-bottom: 2.5px solid #69c4d0;
}



#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
}
#page-top a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 30px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#page-top a:hover {
    text-decoration: none;
    background: #999;
}