body, html {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p, body {
  line-height: 1;
  font-size: 18px;
  color: #4e4449;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic','Arial',sans-serif;
  margin: 0;
  padding: 0;
        -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}




ul{
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.footer-list{
  text-align: center;
}

li{
  display: inline-block;
  margin: 0px 12px;
}

li a{
    color: #69c4d0 !important;
}




.nav ,header{
  position: fixed;
    width: 100%;
  height: 70px ;
}


header{
  z-index: 3;
}


.nav{
  top:0;
  z-index: 4;
  background-color: #fff;
  border-bottom: 2.5px solid #69c4d0;
}

.logo-green, .logo-white{
  display: inline-block;
  line-height: 70px;
}

.logo-green{
    color: #69c4d0;

}




@media (min-width: 1200px){

  .menu{
    width: 1260px;

}
}



.top-content{
  height: 566px;
    background-color: #69c4d0;
}

.top-content p{
  font-weight: bold;
}

.left-content{
  position: relative;
  width: 60.6%;
  padding-top: 70px;
  height: 100%;
  float: left;
}

.right-content{
  z-index: 2;
  float: right;
  width: 39.4%;
  height: 100%;
    background-image: url("../img/top-header-01.png");
  background-repeat: no-repeat;
}


.header-title{
  text-align: center;
      position: absolute;
    top: 52%;
    left: 0;
    right: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

h1, .header-title p{
  color: #fff;
}

.top-content h1{
  font-size: 4.3rem;
  font-weight: bold;
  margin-bottom: 20px;
  display: inline-block;
  margin-left: -28px;
}


@media (max-width: 767px) {
  .left-content{
    width: 100%;
    background-image: url("../img/top-header-green-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  }


  .right-content{
    display: none;
  }


}




h2{
  font-size: 3.5rem;
  font-weight: bold;
  position: relative;
display: inline-block;
margin-bottom: 50px;
}

h2:before{
  content: '';
position: absolute;
bottom: -20px;
display: inline-block;
width: 131px;
height: 4px;
left: 50%;
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
background-color: #60c4d0;
}

.green-text{
  color: #69c4d0;
}

.white-text{
  color: #fff;
}

.white-text:before{
  background-color: #fff;
}


.header-title p{
  font-size: 2.4rem;
}

.text-content{
  margin-bottom: 37px;
}




.loginmodal-submit{
  border: 0;
  color: #fff !important;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  padding: 17px 0px;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic','Arial',sans-serif;
  font-size: 26px;
  font-weight: bold;
}


.btn {
  transition: filter 0.2s ease;
  display: inline-block;
  position: relative;
  width: 347px !important;
background: linear-gradient(to bottom, #f48c1d 0%, #ee7b00 78%);
  border: 2px solid #ee7b00;
  line-height: 1 !important;
}

.btn:hover{
  cursor:pointer;
    filter: brightness(1.04);
}


.nav-btn{
  font-size: 18px !important;
  width: 200px !important;
  padding: 13px 0;
  float: right;
}





.text-center{
  padding: 100px 0px;
}

.flowchart{
  margin-top: 50px;
}

.flow{
  height: 160px;
  width: 750px;
  margin: 15px auto;
  border: solid 1px #69c4d0 ;
}

.step-panel{
  position: relative;
  height: 100%;
  width: 160px;
  float: left;
  background-color: #69c4d0;
  padding: 17px;
}

.step-panel:after{
content:''; 
  display:block; 
  position:absolute; 
  box-shadow: 0 0 2px 2px rgba(255,255,255,0.2) inset;
  top:45%; 
  height:0; 
  width:0; 
  right: -17px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 17px solid #69c4d0;
}

.text-middle{
  position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}


.step{
  color: #fff;
  font-weight: bold;
  margin-top: 5px;
}

.panel{
height: 100%;
padding: 40px 20px 20px 177px;
}

h3{
  color: #fff;
  font-weight: bold;
  font-size: 6rem;
}

.content-2{
  height: 628px;
    background-image: url("../img/content_2_greem-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer{
  padding: 40px 0 !important;
}


