body, html {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p, body {
  line-height: 1;
  font-size: 18px;
  color: #4e4449;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic','Arial',sans-serif;
  margin: 0;
  padding: 0;
        -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}




ul{
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.footer-list{
  text-align: center;
}

li{
  display: inline-block;
  margin: 0px 12px;
}

li a{
    color: #69c4d0 !important;
}




.nav ,header{
  position: fixed;
    width: 100%;
  height: 70px ;
}


header{
  z-index: 3;
}


.nav{
  top:0;
  z-index: 4;
  background-color: #fff;
  border-bottom: 2.5px solid #69c4d0;
}

.menu{
  position: relative;
}

.logo-green, .logo-white{
  display: inline-block;
  line-height: 67px;
}

.logo-green{
    color: #69c4d0;
}

.menu a{
  width: 258px;
}

.menu img{
  width: 100%;
}


@media (min-width: 1200px){

  .menu{
    width: 1260px;

}
}



.top-content{
  height: 566px;
    background-color: #69c4d0;
}

.top-content p{
  font-weight: bold;
}

.left-content{
  position: relative;
  width: 60.6%;
  padding-top: 70px;
  height: 100%;
  float: left;
}

.right-content{
  z-index: 2;
  width: 39.4%;
  height: 100%;
    background-image: url("../img/top-header-01.png");
  background-repeat: no-repeat;
  float: right;
}


.header-title{
  text-align: center;
      position: absolute;
    top: 52%;
    left: 0;
    right: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

h1, .header-title p{
  color: #fff;
}

.top-content h1{
  font-size: 4.3rem;
  font-weight: bold;
  margin-bottom: 20px;
  display: inline-block;
  margin-left: -28px;
}





h2{
  font-size: 3.5rem;
  font-weight: bold;
  position: relative;
display: inline-block;
margin-bottom: 64px;
}

h2:before{
  content: '';
position: absolute;
bottom: -32px;
display: inline-block;
width: 100px;
height: 4px;
left: 50%;
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
background-color: #60c4d0;
}

.green-text{
  color: #69c4d0;
}

.white-text{
  color: #fff;
}

.white-text:before{
  background-color: #fff;
}


.header-title p{
  font-size: 2.4rem;
}

.text-content{
  margin-bottom: 37px;
}




.loginmodal-submit{
  border: 0;
  color: #fff !important;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  padding: 17px 0px;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic','Arial',sans-serif;
  font-size: 26px;
  font-weight: bold;
}


.btn {
  transition: filter 0.2s ease;
  display: inline-block;
  position: relative;
  width: 347px !important;
  background: linear-gradient(to bottom, #f48c1d 0%, #ee7b00 78%) !important;
  border: 2px solid #ee7b00;
  line-height: 1 !important;
}

.btn:hover{
  cursor:pointer;
    filter: brightness(1.05);
}


.nav-btn{
  font-size: 23px !important;
  width: 190px !important;
  padding: 10px 0;
  float: right;
  margin-top: 10px;
}


.sentence{
  line-height: 1.7;
}



.text-center{
  padding: 100px 0px;
}

.flowchart{
  position: relative;
  margin-top: 50px;

}


.flow{
  position: relative;
  height: 160px;
  width: 85%;
  margin: 40px auto;
  border: solid 2px #69c4d0;
  display: -webkit-flex;
  display: flex;
}

.flow:before{
  content: "";
  position:absolute;
    border-left: dotted 7px #69c4d0;
    height: 100%;
    left: 75px;
    top:39px;
}

.last:before{
  content: none;
}

.step-panel{
  position: relative;
  height: 100%;
  width: 160px;
  background-color: #69c4d0;
  padding: 17px;
}


.step-panel:after{
content:''; 
  display:block; 
  position:absolute; 
  box-shadow: 0 0 2px 2px rgba(255,255,255,0.2) inset;
  top:45%; 
  height:0; 
  width:0; 
  right: -17px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 17px solid #69c4d0;
}

.text-middle{
  position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}


.right-panel{
  -webkit-flex: 1;
  flex: 1;
  text-align: left;
padding-left: 200px;
}

.right-panel p{
    font-size: 16px;
}


.step{
  color: #69c4d0;
  font-weight: bold;
  font-size: 25px !important;
  margin-bottom: 15px;
}

.icon{
  display: inline-block;
  padding-right:40px !important;
  line-height: 94px;
  position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.icon img{
  width: 100%;
}


h3{
  color: #fff;
  font-weight: bold;
  font-size: 7rem;
}

h4{
  font-weight: bold;
  margin-bottom: 10px;

}

@media (max-width: 767px){

  .content-1{
    padding: 100px 15px;
  }
  h3{
    display: inline-block;
    font-size: 3rem;
  }

  .flow{
    flex-direction: column;
    margin: 40px 0px;
    width: 100%;
    height: 490px;
  }
  .flow:before{
    content: none;
  }

  .column{
    top: 0% !important;
    transform: none;
    height: 100%;

  }

  .step-panel:after{
  box-shadow: 0 0 2px 2px rgba(255,255,255,0.2) inset;
  top: 98%;
  right: 47.3%;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 17px solid #69c4d0;
}

  .right-panel{
    padding-left: 15px;
    padding-top: 80px;
  }
  .step-panel{
    width: 100%;
    height: 48px;
  }


  .step{
    text-align: center !important;
  }
}





.content-2{
    background-image: url("../img/content_2_greem-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.company{
  height: 320px;
  background-color: #fff;
  min-width: 220px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.company-top{
  position: relative;
  height: 187px;
}

.logo , .details{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.logo img{
  width: 180px;
}

.company-bottom{
  position: relative;
  text-align: left;
  height: 133px;
  background-color: #f5fafe;
}


.company-bottom a{
  color: #69c4d0 !important;

}

.details{
    padding: 0 26px;
}

.glyphicon{
  top: 3px !important;
}

@media (max-width: 991px){
  .container{
    width: 940px ;
  }
}


footer{
  padding: 40px 0 !important;
}

@media (max-width: 767px) {

  .container{
    width: 100%;
  }

  h1{
    font-size: 133% !important;
    margin-left: -12px !important;
    margin-bottom: 10px !important;
  }

  .header-title p{
    font-size: 1.6rem !important;
  }
  .left-content{
    width: 100%;
    background-image: url("../img/top-header-green-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.loginmodal-submit{
  font-size: 18px;
  padding: 15px 0;
}
.btn{
  width: 220px !important;
}

.col-sm-3{
  margin-bottom: 30px;
}

.menu a{
  width: 50%;
}

.nav-btn{
  width: 41% !important;
  font-size: 17px !important;
  padding: 10px 0;
  margin-top: 13px;
}

  .right-content{
    display: none;
  }

  .icon{
    width: 100%;
    padding: 0 !important;
    transform: none;
        height: 285px;
        position: relative;
        text-align: center;
  }

  .icon img{
    width: 60%;
    max-width: 220px;
    position: absolute;
    top: 48%;
    left: 50%;
    margin: auto;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }

  .mobile img{
    width: 80% !important;
        max-width: 255px;
  }


  .row{
    margin: 0;
  }


}


