


h1, h2, h3, h4, h5, h6, p, body {
  font-size: 18px;
  color: #4e4449;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic','Arial',sans-serif;
  margin: 0;
  padding: 0;
                -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}

.update{
  padding: 55px !important;
}


form .row{
  box-shadow: none;
}




.forms{
  text-align: left;
  margin-bottom: 17px;
}



input[type=text],input[type=email]{
  height: 40px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  border-radius: 2px;
  padding: 0 10px;
  box-sizing: border-box;
  font-color: #d9d9d9;
}



input[type=text]:hover,input[type=email]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

input[type=text]:focus,input[type=email]:focus{
  outline: none ;
  border: 2px solid #69c4d0 !important;
}

input[type=text]:active,input[type=email]:active{
  outline: none !important;
}

.center-btn{
  text-align: center;
}

.form-group{
  position: relative;
  margin-bottom: 17px;

}

label{
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic','Arial',sans-serif;
  color: #69c4d0;
              -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
margin-bottom: 6px;
}


form{
  text-align: center;
}

.btn {
  display: inline-block;
  position: relative;
   transition: filter 0.2s ease;
}

.btn:hover{
  cursor:pointer;
    filter: brightness(1.04);
}

.btngroup{
  width: 100%;
}

.loginmodal-submit{
  background: linear-gradient(to bottom, #f48c1d 0%, #ee7b00 78%) !important;
  border: 0;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  padding: 17px 0px;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic','Arial',sans-serif;
  font-size: 18px;
  width: 182px;
  font-weight: bold;
}




.loginmodal-submit:focus{
  outline: none !important;
  color: #fff;
}

.loginmodal-submit:hover{
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  color: #fff;
  background-color: #357ae8;
}


::placeholder{
  color: #ccc !important;
}

@media screen and (max-width: 768px){
  body{
    background-color: #fff;
    background-image: none;
  }


  .forms{
    margin: 0;
  }

  .form-group{
      margin-bottom: 5px !important;
  }

  .content{
    margin-top: 0;
  }


  form{
    padding: 30px 15px !important;
  }


  .center-btn{
    margin-top: 20px;
  }

}

@media screen and (min-width: 768px){
  .col-sm-6{
    padding-right: 18px;
    padding-left: 18px;

  }

}


.clearfix:after {
   content: "";
   clear: both;
   display: block;
 }

